<!-- Skills Section -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <h3 class="section-subheading text-muted">A wide range of skills in Data Science, AI, and Development.</h3>
            </div>
        </div>
        <div class="row text-center">
            <!-- Programming & Development -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="skills-heading">Programming & Development</h4>
                <p class="text-muted">Python, R, SQL, Docker, GitHub</p>
            </div>
            
            <!-- Data Analysis & Machine Learning -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="skills-heading">Data Analysis & Machine Learning</h4>
                <p class="text-muted">TensorFlow, Keras, XGBoost, Pandas, Power BI</p>
            </div>
            
            <!-- Cloud & DevOps -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="skills-heading">Cloud & DevOps</h4>
                <p class="text-muted">Azure DevOps, CI/CD Practices</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Project Management & Methodologies -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="skills-heading">Project Management & Methodologies</h4>
                <p class="text-muted">Scrum, Kanban, Trello</p>
            </div>
            
            <!-- Other Tools -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="skills-heading">Other Tools</h4>
                <p class="text-muted">Microsoft Office Suite, LaTeX</p>
            </div>
        </div>
    </div>
</section>
